*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.main-table {
    width: 1000px;
    margin-top: 5px;

    h1 {
        text-align: center;
        margin: 5px 0;
    }

    p {
        padding: 0 5px 5px;
        display: block;
    }

    .table-container {
        width: 65% !important;
        height: min-content;

        table {
            width: 100%;
            padding: 0;
            margin: 0;
        }
                
        &.center {
            text-align: center;
        }
    }

    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;

        span {
            width: 90%;
            margin: 5px 0;
        }

        input, select {
            margin: 0 0 5px;
        }

        input {
            box-shadow: inset 1px 1px lightgray;
            width: 60%;
        }

        button {
            padding: 1px 3px;
        }

        .form-error {
            color: red;
        }
    }

}